@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  h1, h2, h3, h4 {
    @apply text-white font-semibold;
  }

  .section {
    @apply pt-20 pb-4;
  }

  .section-container {
    @apply container max-w-screen-xl px-6 sm:px-12 xl:px-20 xl:mx-auto;
  }

  .section-title {
    @apply font-montserrat text-center mb-6 text-2xl leading-tight xl:text-[2.5rem];
  }

  .footer-title {
    @apply text-secondary text-base mb-4 xl:text-xl xl:mb-6;
  }

  .footer-info {
    @apply grid grid-cols-max2 gap-2 text-light text-[.75rem] truncate cursor-pointer xl:text-sm transition-all duration-500 hover:text-primary-1 hover:translate-x-1;
  }

  .footer-icon {
    @apply h-5 w-5;
  }

  .button {
    @apply bg-transparent text-secondary font-montserrat py-5 px-6 font-semibold inline-flex items-center gap-x-2 backdrop-blur-xl xl:gap-x-6;
  }

  .button path {
    @apply transition-transform duration-500 ease-in-out;
  }

  .button:hover path {
    @apply translate-x-1;
  }
  
  .shading {
    @apply absolute top-0 left-0 w-full h-full;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
  }

  .scale-image:hover img {
    @apply scale-110;
  }
  
}

.swiper-pagination {
  /* margin-block: 12px !important; */
}
.swiper-pagination-bullet {
  /* width: 12px !important;
  height: 12px !important; */
  background-color: rgb(23, 204, 87) !important;
}
.swiper-pagination-bullet:hover {
  /* transform: scale(1.2) !important; */
}

.swiper-pagination-bullet-active {
  
}

/* persosonalize scroll bar */
::-webkit-scrollbar {
  width: .5rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 10%);
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(0, 0%, 35%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 45%);
}
